body {
    background-color: rgb(70, 70, 70);
}
table, td, th {
    border: 2px solid black;
    color: whitesmoke;
    font-size: 20px;

  }
table {
border-collapse: collapse;
width: 80%;
}
td {
    height: 60px;
    vertical-align: center;
    font-size: 30px;
    color: whitesmoke;
}
li { 
    color:#ffffff; 
    font-size: 30px;
}
h1, h2 { 
    color:#000000; 
    text-align:center;
}
h3, h4, h5, h6 { 
    color:#000000; 
    text-align:start;
}

/* estilo por ID */
#p1 {
    color: rgb(185, 39, 39);
    text-align: center;
}

p2 {
    text-align: center;
    color: rgb(185, 39, 39);
}

/* estilo por clase */
.centradoyrojo {
    text-align: center;
    color: red;
    font-size: 50px;
}