body {
    color: rgb(249, 249, 249) 2px solid;
    background-color: rgb(42, 110, 60);
    font-family: 'Arial', cursive;
    text-align:center;
    align-content: center;
}

h1,h3{
	color: rgb(255, 255, 255); Background: rgb(64, 129, 73);
}

/* table.center {
    margin-left: auto; 
    margin-right: auto;
} */
table{
	border:  #ffffff  3px solid;
	table-layout: fixed;
    margin-left: auto; 
    margin-right: auto;
}

td{
	border: rgb(255, 255, 255) 1px solid;
	
}
